h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1.kf-title {
  background-color: #131313;
  color: whitesmoke;
  padding: 15px;
  margin: 0;
  text-align: center;
}

body {
  background-color: #9b9b9b;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}
