.movie-details {
  background-color: #d8d8d8;
  display: flex;
  margin: 15px;
  padding: 10px;

  p {
    margin: 5px;
  }

  .movie-poster {
    background-color: #9b9b9b;
    flex-shrink: 0;
    overflow: hidden;
    height: 100px;
    width: 67px;

    img {
      display: none;
      height: 100%;

      &.blurred {
        filter: blur(5px);
          -webkit-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          -moz-filter: blur(5px);
        margin: 0 1px;
      }

      &.shown {
        display: block;
      }
    }
  }

  .movie-text {
    overflow: hidden;
    padding: 10px;
    width: 100%;

    .movie-synopsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input.movie-title {
      font-size: 18px;
      width: 90%;
    }
  }
}
