.movie-details {
  display: flex;

  p {
    margin: 5px;
  }

  .movie-poster {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    height: 100px;
    padding: 10px;
  }

  .movie-text {
    overflow: hidden;
    padding: 10px;
    width: 100%;

    .movie-synopsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input.movie-title {
      font-size: 18px;
      width: 90%;
    }
  }
}
