.actor-details {
  display: flex;
  justify-content: space-between;
  margin: 15px;

  .actor-image {
    height: 100px;
  }

  .actor-name {
    margin: 0;
  }
}

button {
  background-color: gray;
  border: none;
  bottom: 0;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  position: absolute;
  width: 100%;
}
