.actor-details {
  display: flex;
  justify-content: space-between;
  margin: 15px;

  h2, p {
    margin: 10px;
  }

  .actor-image {
    height: 100px;
  }
}

.input-form {
  display: flex;
  justify-content: space-between;
  margin: 15px;

  input {
    width: 100%;
  }
}

.guess {
  margin: 15px;
}
