<div *ngIf="actor">
  <div class="actor-details">
    <div>
      <h2 class="actor-name">{{ actor?.name }}</h2>
      <p class="actor-age" *ngIf="actor?.age">{{ actor?.age  }} years old</p>
    </div>
    <img class="actor-image" src="{{ actor?.image_url }}">
  </div>

  <button (click)="refreshActor()" class="full-width" id="skipButton">
    {{ completed ? 'Next' : 'Skip' }}
  </button>

  <kf-movie *ngFor="let movie of (actor?.known_for || [])"
      [movie]="movie" (movieClicked)="onMovieClicked()"></kf-movie>

  <form class="input-form" *ngIf="actor" [formGroup]="guessForm" (ngSubmit)="makeGuess()">
    <input type="text" name="movieTitle" formControlName="title">
    <button type="submit" id="guessButton" [disabled]="completed">Guess</button>
  </form>

  <div *ngIf="suggestions?.length > 0" class="suggestions">
    <div *ngFor="let suggestion of suggestions" class="suggestion"
        (click)="makeGuess(suggestion)">{{ suggestion }}</div>
  </div>

  <h3 *ngIf="guesses?.length > 0" class="guess">Guesses:</h3>
  <ul *ngIf="guesses?.length > 0" class="guesses">
    <li *ngFor="let guess of guesses" class="guess">{{ guess }}</li>
  </ul>
</div>

<button (click)="goToAboutPage()" class="full-width" id="aboutButton">About Known For</button>
