.actor-details {
  display: flex;
  justify-content: space-between;

  .actor-image {
    height: 150px;
    padding: 15px;
  }

  .actor-name {
    margin: 0;
    padding: 15px;
  }
}

button {
  background-color: gray;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}
